body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    margin: 10px 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.red-button {
    background-color: #e00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

.red-button:hover {
    background-color: #c00;
}

.order-details {
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

#newsletter-section, #orders-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

form {
    margin-top: 10px;
}

form input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

center-text {
    text-align: center;
    margin-bottom: 20px;
}
